body {
    --fg: #f8f8f2;
    --bg: #2E3436;
    --lbg: #888A85;
    --vlbg: #ffffff;
    --img-border: #6272a4;
    --header: yellow;
    --link: #8be9fd;
    --link-hover: red;
    --link-visited: green;
    --outline: white;
    --input-border: #ffffff;
}
