body {
    --fg: #ffffff;
    --bg: #111E26;
    --lbg: #1D3240;
    --vlbg: #ffffff;
    --img-border: #7FB4CA;
    --header: #D5E8F0;
    --link: #F4FF98;
    --link-hover: #FF5858;
    --link-visited: #FF9126;
    --outline: #FFF4A2;
    --input-border: #ffffff;
}
