.main-form input, .main-form textarea {
    background-color: var(--lbg);
    color: var(--fg);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 5px
}

.main-form input {
    margin: 2px;
}

.main-form textarea {
    margin-left: 20px;
}

.main-form input:disabled {
    background-color: var(--bg);
}

.space-between-field {
    display: flex;
    justify-content: space-between;
}

.space-between-field input {
    display: inline-block;
    width: 300px;
}

.test {
    display:inline;
}

.message-box {
    width: 400px;
    height: 200px;
}

.main-form input[type="submit"] {
    margin: 5px;
}
