body {
    --fg: #000000;
    --bg: #ffffff;
    --lbg: #BABDB6;
    --vlbg: #ffffff;
    --img-border: #7D0000;
    --header: #661D1B;
    --link: #5F000A;
    --link-hover: #EF2929;
    --link-visited: #998900;
    --outline: #B55900;
    --input-border: #ffffff;
}
