body {
    --fg: #000000;
    --bg: #ffffff;
    --lbg: #BABDB6;
    --vlbg: #ffffff;
    --img-border: #6272a4;
    --header: darkred;
    --link: brown;
    --link-hover: red;
    --link-visited: green;
    --outline: white;
    --input-border: #ffffff;
}
