:root {
    --bg: #282a36;
    --lbg: #44475a;
    --vlbg: #6272a4;
    --fg: #f8f8f2;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;

    --menuitem-border: var(--bg);
    --footer-text: var(--fg);
    --link: var(--cyan);
    --link-hover: var(--pink);
    --page-wide-bar: var(--lbg);
    --navbar-item: var(--lbg);
    --emphasis: var(--yellow);
    --link-visited: var(--purple);
    --profile-pic-border: var(--vlbg);
    --outline: var(--pink);
}

body {
    background-color: var(--bg);
    color: white;
    font-family: Consolas, monospace;
    margin: 0px;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

.main-window {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-window {
    overflow-y: scroll;
    /* min-height: 90vh; */
    display: flex;
    margin-bottom: 25px;
    scrollbar-color: var(--lbg) var(--bg);
}

.page-wide-bar {
    display: flex;
    width: 100vw;
    background-color: var(--page-wide-bar);
    height: 25px;
}

.centered-flex {
    display: flex;
    align-items: center;
}

.navbar-item {
    height: 25px;
    background-color: var(--navbar-item);
    border-width: 0px 1px;
    border-color: var(--menuitem-border);
    border-style: solid;
    padding: 0px 5px;
}

.flag-icon {
    margin-left: 2px;
    margin-right: 5px;
}

.menu-icon {
    height: 15px;
}

.home-link {
    height: 100%;
}

.navbar-item:last-child {
    border-right: 2px solid var(--menuitem-border);
}

.navbar-item:first-child {
    border-left: 0px solid var(--menuitem-border);
    padding: 0px 5px;
}

.bottom {
    position: fixed;
    bottom: 0px;
}

.footer-text {
    height: 25px;
    color: var(--footer-text);
    margin-right: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer-text:first-child {
    margin-left: 5px;
}

.edges-text {
    font-size: 14px;
}

.left-container {
    flex-basis: 700px;
}

.main-table {
    margin-left: 70px;
    margin-top: 10px;
}

.main-table td {
    width: 300px;
}

.main-table th {
    width: 200px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: left;
    color: var(--emphasis);
}

.main-table .multiline-cell p:first-child {
    margin: 0px;
}

.right-container {
    margin-top: 30px;
    margin-left: 50px;
}

.profile-pic {
    height: 200px;
    border: 5px solid var(--profile-pic-border);
    border-radius: 3px;
    margin-bottom: 20px;
}

.list-header {
    margin-top: 20px;
}

.file-list {
    list-style-image: url('img/download_m.png');
    list-style-type: disc;
}

.file-list a:visited {
    color: var(--link-visited);
}

.file-list a:hover {
    color: var(--link-hover);
}
