body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Arial, Consolas;
    margin: 0px;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

.main-window {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-window {
    overflow-y: scroll;
    /* min-height: 90vh; */
    display: flex;
    margin-bottom: 25px;
    scrollbar-color: var(--lbg) var(--bg);
}

.page-wide-bar {
    display: flex;
    width: 100vw;
    background-color: var(--lbg);
    height: 25px;
}

.top {
    justify-content: space-between;
}

.navbar-left-items {
    display: flex;
}

.centered-flex {
    display: flex;
    align-items: center;
}

.navbar-item {
    height: 25px;
    background-color: var(--lbg);
    border-width: 0px;
    border-right-width: 2px;
    border-color: var(--bg);
    border-style: solid;
    padding: 0px 5px;
}

.flag-icon {
    margin-left: 2px;
    margin-right: 5px;
}

.image-button {
    cursor: pointer;
    width: 15px;
    opacity: 0.7;
}

.image-button:hover {
    opacity: 1;
}

.button-container {
    height: 100%;
    cursor: pointer;
    padding: 0px 5px;
}

.bottom {
    position: fixed;
    bottom: 0px;
}

.footer-text {
    height: 25px;
    color: var(--fg);
    margin-right: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer-text:first-child {
    margin-left: 5px;
}

.edges-text {
    font-size: 14px;
}

.left-container {
    flex-basis: 700px;
}

.main-table {
    margin-left: 70px;
    margin-top: 10px;
}

.main-table td {
    width: 300px;
}

.main-table th {
    width: 200px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: left;
    color: var(--header);
}

.main-table .multiline-cell p:first-child {
    margin: 0px;
}

.right-container {
    margin-top: 30px;
    margin-left: 50px;
}

.profile-pic {
    height: 200px;
    border: 5px solid var(--img-border);
    border-radius: 3px;
    margin-bottom: 20px;
}

.emphasised {
    color: var(--header);
    font-weight: bold;
}

.list-header {
    margin-top: 20px;
}

.file-list {
    list-style-image: url('img/download_m20.png');
    list-style-type: disc;
}

.file-list a:visited {
    color: var(--link-visited);
}

.file-list a:hover {
    color: var(--link-hover);
}

.main-form {
    margin-bottom: 50px;
    margin-top: 20px;
}

.main-form input, .main-form textarea {
    background-color: var(--lbg);
    color: var(--fg);
    border: 0px solid var(--input-border);
    border-radius: 5px;
    padding: 5px
}

.main-form fieldset {
    border-style: solid;
    border-color: var(--lbg);
}

.main-form input {
    margin: 2px;
}

.main-form input:focus, .main-form textarea:focus{
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--outline);
}

.main-form textarea {
    margin-left: 20px;
}

.main-form input:disabled {
    visibility: hidden;
}

.space-between-field {
    display: flex;
    justify-content: space-between;
}

.space-between-field input {
    display: inline-block;
    width: 300px;
}

.message-box {
    width: 400px;
    height: 200px;
}

.main-form input[type="submit"] {
    margin: 5px;
}

.main-form input[type="radio"] {
    outline-style: none;
}

.emphasised {
    font-weight: bold;
}

.list-header {
}

.form-header {
}
