:root {
    --bg: DimGrey;
    --fg: white;
    --menuitem-border: var(--bg);
    --footer-text: black;
}

#test {
    height: 2000px;
}

body {
    background-color: var(--bg);
    color: white;
    font-family: Consolas, monospace;
    margin: 0px;
}

a {
    color: cyan;
    text-decoration: none;
}

/* a:visited {
    color: HotPink;
} */

a:hover {
    color: DodgerBlue;
}

.page-wide-bar {
    display: flex;
    width: 100vw;
    background-color: grey;
    height: 35px;
}

.fixed {
    position: fixed;
}

.top {
    top: 0px;
}

.bottom {
    bottom: 0px;
    height: 35px;
    padding-left: 20px;
    align-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    background-color: grey;
    border-width: 0px 1px;
    border-color: var(--menuitem-border);
    border-style: solid;
    height: 100%;
    padding: 0px 5px;
}

.menu-icon {
    height: 100%;
}

.home-link {
    height: 100%;
}

.navbar-item:last-child {
    border-right: 2px solid var(--menuitem-border);
}

.navbar-item:first-child {
    height: 100%;
    border-left: 0px solid var(--menuitem-border);
    padding: 0px 5px;
}

.footer-text {
    color: var(--footer-text);
    flex-basis: 200px;
}
